#containe {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    scroll-snap-align: start;
}

img {
    position: fixed; 
    bottom: 2vw; 
    right: 2vw;
}
